# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tests
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Data and Logs
data/*
!data/.gitkeep
logs/
runs/
tensorboard/
confusion_matrix.png
assignment-description/

# Checkpoints
checkpoints/

# System Files
.DS_Store
Thumbs.db